.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px; 
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: burlywood;
}
